#head{
  text-align:center;
}
table{
  text-align:center;
}


* {
  box-sizing: border-box;
}


body {
  width: 100%;
  /* height: 100vh; */
  margin: 0;
  padding: 16px;
  
  background-color:#336b99;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 50px;
}

input { outline: none; }

ul {
  list-style: none;
  padding: 0;
}

.app-container {
  border-radius: 8px;
  width: 100%;
  max-width: 30%;
  /* max-height: 100%; */
  background-color:#0bc6a5;
  padding: 24px;
  overflow: auto;
  margin: 0 auto;
}

.app-header {
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 12px 0;
  color: #1a7c6c;
    font-size: 40px;
    text-align: center;
 
}

.submit-task {
  width: 200px;
  height: 32px;
  flex-shrink: 0;
  border: none;
  background: #ff8000;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  margin-top:30px;
  width:100%;
 
}


.task-input {
  border-right: none;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  margin-right: 12px;
  color: #fff;
  box-shadow: none;
  border-radius: 0;
  font-size: 30px;
  margin-bottom:30px;
}

.task-list-item {
  background-color: #74c209;
  border-radius: 4px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  padding: 8px;
  font-size:20px;

}

 
  
label {
    display: flex;
    align-items: flex-start;
    color: #fff;
    margin-right: 8px;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    transition: .2s;
    cursor: pointer;
    font-size:37px;
    line-gap-override: 34px;;
  }
input{
  margin-top:40px;
  width: 100%;
    font-size: 30px;
}
span{
  color:blue;
  padding-left:10px;
}

