.container{
  text-align:center;
 
  width:100%;
  height:auto;
 margin-top:173px;

  
}
input{
  width:400px;
  margin-bottom: 40px;
  height:40px;
}
button{
  width:400px;
  height:40px;
}
span{
  color: red;
  display: none;
}